html {
    scroll-behavior: smooth;
  }
  
body{
    font-family: 'Fira Sans', Arial, sans-serif;
    margin: 0px;
    color: #ffffff;
}
h1,
h2,
h3,
p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
    outline: none; 
}
button {
    all: unset; 
    display: inline-block; 
}
